footer {
  text-align: center;
  font-size: 75%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
}

td {
  width: 30px;
  text-align: center;
  overflow: hidden;
}

.lotCell {
  color: white;
  border-radius: 0.7em;
}

.slotCell {
  background: tan;
  border: 2px solid black;
}

.slot {
  color: white;
}

.numInput {
  width: 30px;
}

.action {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 20px;
}

.action:link {
  color: blue;
}

.action:visited {
  color: blue;
}

.action:focus {
  background: #BAE498;
}

.action:hover {
  background: #CDFEAA;
}

.action:active {
  background: #265301;
  color: #CDFEAA;
}

#status {
  display: flex;
}

#controls {
  flex-grow: 1;
  min-width: 300px;
}

#messages {
  flex-grow: 1;
  max-width: 50%;
  padding: 10px;
}

#messagesOut {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
}

#chatIn {
  width: 100%;
}
