table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
}

td {
  width: 30px;
  text-align: center;
  overflow: hidden;
}

.lotCell {
  color: white;
  border-radius: 0.7em;
}

.slotCell {
  background: tan;
  border: 2px solid black;
}

.slot {
  color: white;
}

#status {
  display: flex;
}

#controls {
  flex-grow: 1;
  min-width: 300px;
}

#messages {
  flex-grow: 1;
  overflow-y: scroll;
  height: 300px;
  padding: 10px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 20px;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:focus {
  background: #BAE498;
}

a:hover {
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}
